.App {
  width: 300px;
  min-height: 350px;
  background-color: #1c1b3f;
  margin: 40px auto;
  padding: 5px 15px;
  text-align: center;
  color: #fff;
}
body {
  background-color: #845afc;
}
h1 {
  margin-bottom: 20px;
  font-size: 30px;
}
